{% extends 'authTemplate.html' %}

{% block title %}Registration{% endblock%}

{% block content %}
<div class="container">
    <form method="post" class="needs-validation" novalidate>
        <div class="center-content">
            <h2>Sign up</h2>
        </div>

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" required>
        <div class="invalid-feedback">Please choose username</div>

        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" required>
        <div class="invalid-feedback">Please provide your email</div>

        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" required minlength="6">
        <div class="invalid-feedback">Please enter password</div>

        <label for="password-retry">Retry password</label>
        <input type="password" class="form-control" name="password-retry" id="password-retry" required minlength="6">
        <div class="invalid-feedback">Retry your password</div>

        <button class="btn btn-primary" type="submit">Register</button>

        <div class="center-content">
            <span class='mx-3'>Already registered? <a href='/login/'>Login</a></span>
        </div>
    </form>
</div>
{% endblock %}